# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.egg-info/
.eggs/

# Virtual Environment & secrets
venv/
.env

# FastAPI / Uvicorn
.watchfiles/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
.python-version

# Testing
.pytest_cache/
.coverage

# MongoDB
*.bson
data/

# Logs
logs/

# Node / Frontend (future)
node_modules/
dist/
build/

# macOS AppleDouble (external drives)
._*
.___*
